---
import HistoricalFinancialData from '../components/HistoricalFinancialData/HistoricalFinancialData.astro'
import Main from '../Layouts/Main.astro'
---

<Main>
  <h1 class="text-6xl font-black tracking-wide text-primary">Intrinsic Calculator</h1>
  <div class="mt-8">
    <HistoricalFinancialData />
  </div>
</Main>
