---
import Container from '../components/ui/Container'
import Main from '../Layouts/Main.astro'
---

<Main>
  <Container>
    <div class="mt-8">
      <ul>
        <li>
          <a class="text-primary underline" href="/META">META</a>
        </li>
        <li>
          <a class="text-primary underline" href="/GOOG">GOOG</a>
        </li>
      </ul>
    </div>
  </Container>
</Main>
