---
import Main from '../Layouts/Main.astro'
---

<Main>
  <h1 class="text-6xl font-black tracking-wide text-primary">Intrinsic Calculator</h1>
  <div class="mt-8">
    <ul>
      <li>
        <a class="text-primary underline" href="/META">META</a>
      </li>
      <li>
        <a class="text-primary underline" href="/GOOG">GOOG</a>
      </li>
    </ul>
  </div>
</Main>
