---
import Card from '../ui/Card'
import Table from '../ui/Table/Table'
import Tbody from '../ui/Table/Tbody'
import Td from '../ui/Table/Td'
import Th from '../ui/Table/Th'
import { createTable, getRows, HistoricalTableCell } from './historical'
const table = createTable(Astro.props.company, Astro.props.financial)
const rows = getRows(table)
---

<h2 class="mt-8 text-lg font-medium leading-6 text-gray-900">Historical financial data</h2>
<div class="mt-2">
  <Card className="overflow-hidden overflow-x-auto">
    <Table>
      <thead>
        <tr>
          <Th />
          {table.year.map((a) => <Th>{a}</Th>)}
        </tr>
      </thead>
      <Tbody>
        {
          rows.map((row) => (
            <tr>
              <Td>
                <p class="text-gray-500">{row.label}</p>
              </Td>
              {table[row.key].map((a: HistoricalTableCell) => (
                <Td>
                  <p class="font-medium text-gray-900">{a.displayedValue}</p>
                </Td>
              ))}
            </tr>
          ))
        }
      </Tbody>
    </Table>
  </Card>
</div>
